services:
  app:
    build: ./app
    container_name: python_app_FLASK
    environment:
      - DB_HOST=db
      - DB_USER=${MYSQL_USER}
      - DB_PASSWORD=${MYSQL_PASSWORD}
      - DB_NAME=${MYSQL_DATABASE}
    networks:
      - mynetwork
    volumes:
      - ./app:/app
    depends_on:
      db:
        condition: service_healthy 
    command: gunicorn -w 4 -b 0.0.0.0:8000 wsgi:app
 
  web:
    image: nginx:latest
    container_name: nginx_server_FLASK
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./app:/app
    networks:
      - mynetwork
    depends_on:
      - app
 
  db:
    image: mysql:latest
    container_name: mysql_db_FLASK
    env_file:
      - ./db/.env
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 3307:3306
    networks:
      - mynetwork
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 10s
      retries: 10
 
networks:
  mynetwork:
    driver: bridge
 
volumes:
  db_data: